{% extends 'base.html' %}
{% load static %}

{% block title %}لوحة تحكم مقدم الخدمة{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>لوحة تحكم مقدم الخدمة</h2>
    <div class="mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="ابحث...">
    </div>
    <div class="table-responsive">
    <table id="ticketsTable" class="table table-striped">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الحالة</th>
                <th class="d-none d-xl-table-cell">تاريخ الإنشاء</th>
                <th class="d-none d-xl-table-cell"> عمر الطلب </th>
                <th class="d-none d-xl-table-cell">أنشئت بواسطة</th>
                <th>مستوى الأهمية</th>
                <th>الإجراء</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td><a href="{% url 'ticket_detail' ticket.id %}">{{ ticket.title }}</a></td>
                <td>{{ ticket.status }}</td>
                <td class="d-none d-xl-table-cell">{{ ticket.created_at }}</td>
                <td class="d-none d-xl-table-cell">{{ ticket.get_total_in_progress_time }}</td>
                <td class="d-none d-xl-table-cell">{{ ticket.created_by.user.username }} </td>
                <td>{{ ticket.difficulty_level }}</td>
                <td><a href="{% url 'update_ticket_status' ticket.id %}" class="btn btn-primary btn-sm">تحديث الحالة</a></td>
            
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#ticketsTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.4/i18n/ar.json"
            }
        });

        $('#searchInput').on('keyup', function() {
            table.search(this.value).draw();
        });
    });
</script>
{% endblock %}