{% extends 'base.html' %}

{% block navbar %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">التحقق من البريد الإلكتروني</h2>
                    <form method="post" class="mb-3">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.code.label_tag }}
                            {{ form.code }}
                            {% if form.code.errors %}
                                <div class="text-danger">
                                    {{ form.code.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">تحقق</button>
                    </form>
                    <form method="post" action="{% url 'resend_verification_code' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary w-100">إعادة إرسال كود التحقق</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}